header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 10; 
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}
body{
    background-image: url(../images/got.jpg);min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#logo {
padding-left:10px;
}

.venueName{
    margin-top:6px;
}
.profile{
  background-color: rgba(0, 0, 0, 0.69);
  height: 200px;
  color: white;
  width: 563px;
  padding-top: 30px;
  font-size: 20px;
}
.seperator{
    margin:3px 0 6px 0;
}
